/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Custom properties */
:root{
    --clr-primary: 230 35% 7%; /* dark blue */
    --clr-secondary: 231 77% 90%; /* very light blue */
    --clr-accent: 0 0% 100%; /* white */
    
    --fs-1000: 5rem;
    --fs-900: 3.5rem;
    --fs-800: 1.75rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: .9375rem;
    --fs-300: .875rem;
    
    --ff-title: "Barlow Condensed", sans-serif;
    --ff-subtitle: "Bellefair", serif;
    --ff-body: "Barlow", sans-serif;
}

@media (min-width: 34.9999em) and (max-width: 44.9999em) {
    :root{
        --fs-1000: 9.375rem;
        --fs-900: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root{
        --fs-1000: clamp(7rem, 10vw, 9.375rem);
        --fs-900: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* Typography */
.bg-primary{
    background-color: hsl(var(--clr-primary));
}

.bg-accent{
    background-color: hsl(var(--clr-accent));
}

.text-primary{
    color: hsl(var(--clr-primary));
}

.text-secondary{
    color: hsl(var(--clr-secondary));
}

.text-accent{
    color: hsl(var(--clr-accent));
}

.fs-1000{
    font-size: var(--fs-1000);
    line-height: 1.25;
    letter-spacing: 0;
}

@media (min-width: 35em) {
    .fs-1000{
        line-height: 1;
    }
}

.fs-900{
    font-size: var(--fs-900);
    letter-spacing: 0;
}

.fs-800{
    font-size: var(--fs-800);
    letter-spacing: 0;
}

.fs-700{
    font-size: var(--fs-700);
    letter-spacing: 0;
}

.fs-600{
    font-size: var(--fs-600);
    letter-spacing: 1.25px;
}

.fs-500{
    font-size: var(--fs-500);
    letter-spacing: 2.7px;
}

.fs-400{
    font-size: var(--fs-400);
    line-height: 1.6667;
    letter-spacing: 0;
}

.fs-300{
    font-size: var(--fs-300);
    letter-spacing: 2.36px;
}

.ff-title{
    font-family: var(--ff-title);
}

.ff-subtitle{
    font-family: var(--ff-subtitle);
}

.ff-body{
    font-family: var(--ff-body);
}

.uppercase{
    text-transform: uppercase;
}

.text-center-sm-md{
    text-align: center;
}

.text-center-sm{
    text-align: center;
}

.numbered-title{
    display: inline-flex;
    gap: 1rem;
}

.number-indicator{
    opacity: .25;
    font-weight: bold;
}

.navigation-indicator{
    gap: 1rem;
    justify-content: center;
}

.navigation-indicator a {
    display: inline-block;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(var(--clr-accent) / .17);
}

.navigation-indicator a:where(:hover, :focus) {
    background-color: hsl(var(--clr-accent) / .5);
}

/* Layout */
.d-block{
    display: block;
}

.wrapper{
    max-width: 90rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.flow > * + *{
    margin-block-start: var(--flow-space, 1rem);
}

.flex{
    display: flex;
}

body{
    background-size: cover;
    display: grid;
}

main{
    align-self: end;
}

.homepage {
    background-image: url("../images/bg-home-mobile.jpg");
}

.destination-page{
    background-image: url("../images/bg-destination-mobile.jpg");
}

.crew-page{
    background-image: url("../images/bg-crew-mobile.jpg");
}

.technology-page{
    background-image: url("../images/bg-technology-mobile.jpg");
}

@media (min-width: 35em) {
    .text-center-sm{
        text-align: left;
    }

    .flow > * + *{
        margin-block-start: var(--flow-space, 1.5rem);
    }
}

@media (min-width: 34.9999em) and (max-width: 44.9999em) {
    .wrapper{
        padding-inline: 2.4375rem;
    }

    .homepage{
        background-image: url("../images/bg-home-tablet.jpg");
    }
        
    .destination-page{
        background-image: url("../images/bg-destination-tablet.jpg");
    }

    .crew-page{
        background-image: url("../images/bg-crew-tablet.jpg");
    }

    .technology-page{
        background-image: url("../images/bg-technology-tablet.jpg");
    }
}

@media (min-width: 45em) {
    .text-center-sm-md{
        text-align: left;
    }

    .wrapper{
        padding-inline: 3.4375rem;
    }

    .homepage{
        background-image: url("../images/bg-home-desktop.jpg");
    }

    
    .destination-page{
        background-image: url("../images/bg-destination-desktop.jpg");
    }

    .crew-page{
        background-image: url("../images/bg-crew-desktop.jpg");
    }

    .technology-page{
        background-image: url("../images/bg-technology-desktop.jpg");
    }
}

/* Primary navigation */
.primary-header{
    padding-inline-start: 3.4375rem;
    min-height: 6rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 2;
}

.skip-nav-link{
    display: block;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 0;	
    padding: .5em 1em;
    opacity: 0;
    translate: 0 -100%;
    transition: translate 400ms, opacity 400ms;
}

.skip-nav-link:focus{
    translate: 0;
    opacity: 1;
}

.header-menu{
    background-color: hsl(0 0% 0% / .9);
}

@supports (backdrop-filter: blur(1rem)){
    .header-menu{
        background-color: hsl(var(--clr-black) / .2);
        backdrop-filter: blur(.675rem);
    }
}

.header-menu a{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .75rem;
}

.header-menu span{
    font-weight: bold;
}

@media (min-width: 45em){
    .primary-header{
        --gap: 3rem;
        padding-inline: 0;
        position: relative;
        display: flex;
        gap: var(--gap);
    }

    .logo{
        order: 1;
        flex-shrink: 0;
    }

    .primary-header::before{
        content: "";
        display: block;
        width: 50%;
        background-color: hsl(var(--clr-accent));
        margin-inline-end: calc(-1 * (var(--gap) + 2rem));
        height: 1px;
        order: 2;
        opacity: .25;
        z-index: 1;
    }

    .primary-header nav{
        order: 3;
    }

    .header-menu{
        gap: 3rem;
        padding: 0 7.6875rem 0 10.3125rem;
    }

    .header-menu a{
        font-size: 1rem;
        letter-spacing: 2.7px;
    }
}

@media (min-width: 34.9999em) and (max-width: 44.9999em) {
    .primary-header::before{
        scale: 0;
    }

    .header-menu{
        position: relative;
        translate: 2.4375rem 0;
    }

    .header-menu a{
        font-size: .875rem;
    }

    .header-menu span{
        display: none;
    }
}

@media (min-width: 35em) {
    .header-menu{
        background-color: hsl(var(--clr-accent) / .04);
        padding-inline: 3rem 2.875rem;
    }

    .header-menu a{
        padding-block: 2.5rem;
    }
    
    .header-menu a:where(:hover, :focus) {
        border-bottom: 3px solid hsl(var(--clr-accent) / .5);
    }

    [aria-current="page"] {
        border-bottom: 3px solid hsl(var(--clr-accent));
    }

    [aria-current="page"]:is(:hover, :focus) {
        border-bottom: 3px solid hsl(var(--clr-accent));
    }
}

.header-menu-toggler{
    display:none
}

.header-menu{
    gap: 1rem;
}

@media (max-width: 35em){
    .primary-header{
        padding-inline-start: 0;
    }

    .header-menu-toggler{
        position: absolute;
        width: 1.25rem;
        aspect-ratio: 1;
        top: 2.0625rem;
        right: 1rem;
        z-index: 2;
        display: block;
        border: 0;
        background-color: transparent;
        background-image: url("../images/hamburger-menu.svg");
        background-size: cover;
    }
    
    .header-menu{
        position: fixed;
        inset: -1rem 0 -1rem 30%;
        z-index: 1;
        flex-direction: column;
        padding: 96px 0 0 1rem;
        transform: translate(100%);
        transition: transform .35s ease-out;
    }

    .header-menu[data-visible=true]{
        transform:translate(0);
    }
}

/* Hero */
.hero{
    --flow-space: 3rem;
    padding-block-end: 3rem;
}

.hero__title span{
    --flow-space: 1rem;
    margin-block-start: var(--flow-space, 1rem);
}

.hero__subtitle{
    --flow-space: 1rem;
}

@media (min-width: 35em) {
    .hero__title span{
        margin-block-start: var(--flow-space, 1.5rem);
    }
}

@media (min-width: 34.9999em) and (max-width: 44.9999em) {
    .hero{
        padding-block-end: 5.625rem;
    }
    
    .hero__subtitle{
        max-width: 40ch;
        margin-inline: auto;
    }
}

@media (min-width: 45em) {
    .hero{
        display: flex;
        gap: 2.5rem;
        justify-content: space-between;
        padding-block-end: 8.1875rem;
        padding-inline: clamp(.5rem, 2vw, 6.875rem);
        align-items: end;
    }

    .hero__subtitle{
        max-width: 40ch;
    }
}

.hero__cta{
    --flow-space: 5rem;
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    width: min(50%, 17.125rem);
    aspect-ratio: 1;
    position: relative;
}

.hero__cta::before{
    content: "";
    position: absolute;
    z-index: -2;
    inset: 0;
    background-color: hsl(var(--clr-accent) / .25);
    border-radius: inherit;
    transition: scale 350ms;
}

.hero__cta:is(:hover, :focus)::before {
    scale: 1.5;
}

/* Destination */
.destination-wrapper{
    padding-block-end: 3.625rem;
}

.destination{
    --flow-space: 2rem;
}

.destination__image{
    max-width: 45%;
    margin-inline: auto;
}

.destination__nav{
    --flow-space: 1.625rem;
    gap: 1.625rem;
    justify-content: center;
}

.destination__nav a:where(:hover, :focus) {
    border-bottom: 3px solid hsl(var(--clr-accent) / .5);
}

.destination__current{
    border-bottom: 3px solid hsl(var(--clr-accent));
}

.destination__current:is(:hover, :focus) {
    border-bottom: 3px solid hsl(var(--clr-accent));
}

.destination__title{
    --flow-space: 1.25rem;
}

.destination__subtitle{
    --flow-space: 1px;
    position: relative;
    padding-block-end: 2rem;
}

.destination__subtitle::before{
    content: "";
    position: absolute;
    inset: auto 0 -2rem 0;
    height: 1px;
    background-color: hsl(var(--clr-secondary));
    margin-block-end: 2rem;
}

.destination__info{
    --flow-space: .75rem;
}

.destination__info:last-child{
    --flow-space: 2rem;
}

.destination__info:last-child > * + * {
    --flow-space: .75rem;
}

@media (min-width: 34.9999em) and (max-width: 44.9999em) {
    .destination-wrapper{
        padding-block-end: 3.875rem;
    }
    
    .destination{
        --flow-space: 3.75rem;
    }
    
    .destination__image{
        max-width: 40%;
    }
}

@media (min-width: 35em) {
    .destination__nav{
        gap: 2.25rem;
    }

    .destination__info-group{
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }

    .destination__info:last-child{
        --flow-space: 0;
    }
}

@media (min-width: 45em) {
    .destination-wrapper{
        padding-block-end: 7.375rem;
        padding-inline: clamp(.5rem, 2vw, 6.875rem);
    }
    
    .destination{
        padding-inline-start: clamp(.125rem, 5vw, 4rem);
    }
    
    .destination > div{
        display: grid;
        column-gap: 2.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .destination__image{
        max-width: min(100%, 20rem);
        grid-row: 1 / span 4;
        align-self: center;
    }
    
    .destination__nav{
        justify-content: start;
    }

    .destination__title,
    .destination__subtitle,
    .destination__info-group{
        grid-column: 2 / -1;
    }

    .destination__info p:last-child{
        line-height: 1;
    }
}

/* Crew */
.crew-wrapper{
    padding-block-end: 6.5rem;
}

.image-wrapper{
    --flow-space: 2rem;
    position: relative;
}

.image-wrapper::before{
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 1px;
    background-color: hsl(var(--clr-secondary));
}

.navigation-indicator--crew{
    --flow-space: 2rem;
}
.navigation-indicator--crew a{
    width: 10px;
    transition: background-color 350ms;
}

.navigation-indicator--crew .current{
    background-color: hsl(var(--clr-secondary));
}

.crew__subtitle{
    --flow-space: 2rem;
}

.crew__subtitle span:last-child{
    --flow-space: .5rem;
}

@media (min-width: 34.9999em) and (max-width: 44.9999em) {
    .image-wrapper{
        order: 2;
    }

    .image-wrapper img{
        margin-inline: auto;
    }

    .navigation-indicator--crew{
        --flow-space: 2.5rem;
        order: 1;
    }

    .crew__subtitle{
        --flow-space: 3.75rem;
    }
}

@media (min-width: 35em) {
    .crew-wrapper{
        padding-block-end: 0;
    }

    .image-wrapper::before{
        height: 0;
    }

    .crew-wrapper{
        display: grid;
    }
}

@media (min-width: 45em) {
    .crew-wrapper{
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        padding-inline: clamp(.5rem, 2vw, 6.875rem);
    }

    .crew-wrapper *:not(.image-wrapper) {
        grid-column: 1 / 2;
    }

    .image-wrapper{
        grid-column: 2 / -1;
        grid-row: 1 / span 5;
        align-self: end;
    }

    .navigation-indicator--crew{
        --flow-space: clamp(2.5rem, 5vw, 7.5rem);
        justify-content: start;
        order: 1;
        padding-block-end: 5.875rem;
    }

    .navigation-indicator--crew a{
        width: 15px;
    }

    .crew__subtitle{
        --flow-space: clamp(2.5rem, 5vw, 9.625rem);
        line-height: .75;
    }
    
    .crew__subtitle span:last-child{
        --flow-space: .9375rem;
        font-size: clamp(2.5rem, 5vw, 3.5rem);
        line-height: 1;
    }

    .crew__details{
        --flow-space: 1.6875rem;
    }
}

/* Technology */
.wrapper--technology{
    --padding-technology-image: 1.5rem; /* this is to handle the image that is full bleed inside a container */
}

.technology-wrapper{
    padding-block-end: 5rem;
}

.technology-grid-wrapper{
    --flow-space: 2.125rem;
}

.technology__image{
    --flow-space: 2rem;
    margin-inline-start: calc(50% - (var(--padding-technology-image) * 2));
    max-width: initial;
    width: 100vw;
    height: 25vh;
    height: 25dvh;
    object-fit: cover;
    translate: calc(-1 * (50% - (var(--padding-technology-image) * 2))) 0;
}

.navigation-indicator--technology a{
    width: 2.5rem;
    display: inline-grid;
    place-items: center;
    position: relative;
    isolation: isolate;
    transition: background-color 350ms, color 350ms 350ms;
}

.navigation-indicator--technology a:where(:hover, :focus) {
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--clr-accent));
    border: 1px solid hsl(var(--clr-accent));
}

.navigation-indicator--technology a::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: hsl(var(--clr-primary));
    rotate: .125turn;
    scale: .7;
}

.navigation-indicator--technology a:is(:hover, :focus)::before{
    scale: 0;
}

.navigation-indicator--technology .current,
.navigation-indicator--technology .current::before{
    background-color: hsl(var(--clr-accent));
    color: hsl(var(--clr-primary));
}

.technology__title{
    --flow-space: 1.625rem;
}

.technology__title span:last-child{
    --flow-space: .5625rem;
}

.technology__details{
    --flow-space: 1rem;
}

@media (max-width: 35em) {
    .technology-page{
        overflow-x: hidden;
    }
}

@media (min-width: 34.9999em) and (max-width: 44.9999em) {
    .technology-wrapper{
        --padding-technology-image: 2.4375rem;
        padding-block-end: 6.0625rem;
    }
    
    .technology__image{
        height: 30vh;
        height: 30dvh;
    }

    .technology__details{
        max-width: 40ch;
        margin-inline: auto;
    }
}

@media (min-width: 45em) {
    .technology-wrapper{
        padding-block-end: 6.3125rem;
    }

    .wrapper--technology{
        padding-inline: 3.4375rem 0;
    }

    .technology-grid-wrapper{
        display: grid;
        gap: clamp(.5rem, 2vw, 8.125rem);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .technology__image{
        grid-column: 2 / -1;
        max-width: 100%;
        height: 100%;
    }

    .technology-grid-wrapper > div{
        grid-row: 1 / 2;
        display: grid;
        gap: 1.0625rem clamp(.5rem, 2vw, 5rem);
        grid-template-columns: auto 1fr;
    }

    .navigation-indicator--technology{
        gap: 2rem;
        flex-direction: column;
        grid-row: 1 / span 3;
        align-self: start;
    }

    .navigation-indicator--technology a{
        width: 5rem;
        font-size: 2rem;
    }

    .technology__title{
        --flow-space: -2rem;
        line-height: 1;
    }

    .technology__title span:last-child{
        --flow-space: .6875rem;
        font-size: clamp(2rem, 5vw, 3.5rem);
    }

    .technology__title,
    .technology__details{
        grid-column: 2 / -1;
    }

    .technology__details{
        --flow-space: 0;
        align-self: start;
    }
}